* {
    margin: 0;
    padding: 0;
}
body {
    font-family: impact, sans-serif;
    background-color: darkred;
    height: 100vh;
    width: 100vw;
    text-align: center;
}
div {
    display: inline-block;
}
.title {
    height: 10%;
    width: 80%;
    color: yellow;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.red {
    color: black;
}
.player_1, .player_2 {
    color: black;
    width: 10%;
    height: 40%;
    vertical-align: top;
    background-image: url(images/player.png);
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: center top;

}
.player_1 h3, .player_2 h3{
    margin-top: 30%;
    text-decoration: underline;
}
.game_container1 {
    width: 75%;
    height: 90%;
    #margin-top: 5%;
    text-align: center;
    border: none;
    background: url(images/bamboo.png) left top no-repeat, url(images/bamboo.png) center top no-repeat, url(images/bamboo.png) right top no-repeat, url(images/bamboo.png) left center no-repeat, url(images/bamboo.png) center no-repeat, url(images/bamboo.png) right center no-repeat, url(images/bamboo.png) left bottom no-repeat, url(images/bamboo.png) center bottom no-repeat, url(images/bamboo.png) right bottom no-repeat;
    background-size: 42% 43%;
}
.game_container2 {
    width: 75%;
    height: 90%;
    #margin-top: 5%;
    text-align: center;
    border: none;
    /*background: url(images/bamboo.png) left top no-repeat, url(images/bamboo.png) center top no-repeat, url(images/bamboo.png) right top no-repeat, url(images/bamboo.png) left center no-repeat, url(images/bamboo.png) center no-repeat, url(images/bamboo.png) right center no-repeat, url(images/bamboo.png) left bottom no-repeat, url(images/bamboo.png) center bottom no-repeat, url(images/bamboo.png) right bottom no-repeat;
    background-size: 100%;*/
}
.row {
    width: 100%;
    height: 33%;
    border: none;
}
.box {
    width: 32%;
    height: 100%;
    position: relative;
}
img {
    width: 65%;
    height: 50%;
    top: 30%;
    left: 25%;
    position: absolute;
}
.b2_row {
    width: 100%;
    height: 15%;
    border: none;
}
.b2_box {
    width: 18%;
    height: 100%;
    border: 1px solid black;
    position: relative;
}
.board_options {
    width: 60vw;
    height: 80vh;
    margin: 8% 7% 0;
}
.board_option1, .board_option2 {
    width: 50%;
    height: 50%;
}
button {
    font-size: 2em;
    font-family: impact, sans-serif;
    background-color: yellow;
    width: 50%;
    height: 50%;
    border: none;
}
.reset {
    width: 10%;
    height: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.reset button {
    font-size: 1em;
}
button:focus {
    outline: none;
}
button:hover {
    background-color: darkred;
}